.overlay{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}   

form#registrar{
    height: 70vh;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form#registrar fieldset{
    border: none;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

form#registrar fieldset > label{
    width: 100%;
    display: block;
}

#registrar .endereco{
    border-top: 2px solid gray;
}

#registrar h3{
    display: block;
    width: 100%;
}

#registrar .senhas{
    width: 100%;
}

#registrar .senhas label{
    width: 40%;
}

#registrar input:not([type=submit]){
    margin-bottom: 10px;
    padding: 5px;
}

form#registrar div input[type=submit]{
    height: 50px;
    width: 300px;
    margin-top: 10px;
    background-color: blue;
    transition: .5s;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

form#registrar div input[type=submit]:hover{
    background-color: rgb(1, 1, 161);
    color: white;
}

#registrar input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}