.sabores{
    min-height: 100vh;
    padding: 50px;
    background-image: url('../images/fundo-de-madeira.jpg');
    background-position: center;
    background-size:cover;
    color: white;
    background-repeat: no-repeat;
}

.sabores ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sabores ul li{
    display: flex;
    gap: 20px;
    align-items: center;
}

.sabores ul li img{
    width: 200px;
    height: 200px;
    aspect-ratio: 3/4;
}

.sabores form span.plus, span.minus{
    display: inline-block;
    width: 30px;
    height: 30px;
    user-select: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
    padding: 0 .5rem;
    text-align: center;
    align-items: center;
}

.sabores form span.plus:hover, span.minus:hover{
    background-color: rgba(255,255,255,0.2);
}

.sabores form input{
    user-select: none;
}

.sabores form input[readonly]{
    border: none;
    color: white;
    background-color: transparent;
    text-align: center;
    width: 50px;
    font-size: 2rem;
    padding-left: 10px;
}

.sabores form input:focus{
    border: none;
    outline: 0;
    box-shadow: none;
}

.sabores form input[type=submit]{
    width: 250px;
    height: 70px;
    position:fixed;
    bottom: 20px;
    margin: auto;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 5px 5px 12px 0px rgba(0,0,0,0.75);
    border: none;
    transition: .5s;
    font-size: 2.2rem;
}

.sabores form input[type=submit]:hover{
    background-color: rgb(1, 1, 161);
    cursor: pointer;
}

